* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-image: url("./textures/stars.jpg");
	background-size: cover;
	position: relative;
}

:root {
	--primary-text-color: white;
	--secondary-text-color: #fff;
}

#firstsection {
	position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

header {
	top: 0;
	left: 0;
	width: 100%;
	padding: 40px 100px;
	padding-bottom: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 99999;
  position: relative;
}

header > .logo {
	text-decoration: none;
	color: var(--primary-text-color);
	font-size: 2em;
	text-transform: uppercase;
	letter-spacing: 4px;
	font-weight: 700;
}

header ul {
	display: flex;
	justify-content: center;
	align-items: center;
}

header ul li {
	list-style: none;
	margin-left: 20px;
}

header ul li a {
	text-decoration: none;
	padding: 6px 15px;
	color: var(--primary-text-color);
	border-radius: 20px;
	font-weight: 600;
	font-size: 20px;
}

header button{
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
  width: 34px;
  aspect-ratio: 1/1;
  border: none;
  outline: none;
  background-color: transparent;
}

header button .line1, .line2, .line3{
  width: 30px;
  height: 4px;
  border-radius: 5px;
  background-color: white;
  transition: all 500ms ease-in-out;
}

header button:focus,
header button.active{
  border: none;
  outline: none;
}

header ul li a:hover,
header ul li a.active,
header ul li a:focus {
	background-color: white;
	color: #2b1055;
}

canvas {
	position: fixed;
  top: calc(50% + 30px);
  transform: translate(0%,-50% );
}


.title {
  display: flex;
	justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
	max-width: 500px;
	font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
  "Lucida Sans", Arial, sans-serif;
	color: white;
  margin-top: 30px;
  backdrop-filter: blur(20px);
  padding: 45px;
  position: relative;
  top: 85vh;
  z-index: 0;
}

.title:nth-child(even){
  align-self: flex-end;
}

.title:nth-child(odd){
  align-self: flex-start;
}

.title:last-of-type{
  padding-bottom: 50px;
}

.title h1 {
	text-transform: uppercase;
	font-size: 3rem;
	margin-bottom: 15px;
	letter-spacing: 15px;
}

.title p {
	text-transform: capitalize;
	font-size: 1.2rem;
}

.title button {
	padding: 8px 14px;
	border: none;
  width: 140px;
	border-radius: 50vh;
	font-size: 1.2rem;
	margin-top: 25px;
}

@media (max-width:850px){
  header button{
    display: flex;
    z-index: 99;
  }

  .title{
    max-width: 700px;
    margin: 15px;
    border: 2px solid white;
    border-radius: 10px 10px 0px 0px;
    top: -10vh;
    top: 100dvh;
  }
  
  canvas {
    top: 50%;
  }
  
  header ul li{
    position: fixed;
    padding: 40px 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    backdrop-filter: blur(15px);
    z-index: 10;
    top: 0;
    right: 0;
    color: black;
    transform: translateX(110%);
    transition: transform 500ms ease;
  }

  header {
    padding: 20px 30px;
  }
}

